.contactus-hero {
  background-image: url("../assets/images/contact-image.jpg");
  height: 500px;
}

/* Contact Section */
.contact-section {
  padding: 30px 0 60px 0;
  background-color: #fff;
  margin-bottom: 4rem;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 4rem;
  padding: 0 20px;
}

.contact-info{
  margin-top: 40px;
}

/* Left Side - Contact Form */
.contact-form h1 {
  color: #08386c;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px;
}

.form-intro {
  color: #323232;
  margin-bottom: 30px;
  line-height: 1.6;
}

.form-wrapper {
  background-color: #eaf6fd;
  padding: 45px 80px;
}

.form-wrapper h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #46a5e6 !important;
  margin-bottom: 30px;
  font-weight: 900;
}

.required {
  color: #46a5e6 !important;
  font-weight: normal;
  font-weight: 400;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #8dc3ef;
  background-color: #fff;
  font-size: 14px;
}

.form-group textarea {
  height: 285px;
  resize: vertical;
}

.call-preference {
  margin: 20px 0;
}

.call-preference p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 25px;
  color: #6e6e6e;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 1rem;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6e6e6e;
  font-weight: bold;
}

.g-recaptcha {
  margin: 20px 0;
}

.send-btn {
  background-color: #08386c !important;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  display: block;
  margin-bottom: 15px !important;
  border: 1px solid #8dc3ef;
  padding: 14px;
  border-radius: 28px;
  min-width: 180px;
  font-weight: 900;
  text-transform: uppercase;
}

.send-btn:hover {
  opacity: 0.7;
}

/* Right Side - Contact Information */
.offices-box {
  background-color: white;
  padding: 45px 30px 30px 30px;
  position: relative;
  border: 1px solid #46a5e6;
}

.offices-box h3 {
  color: #fff;
  background: #46a5e6;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 14px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -0.5px;
  transform: translateY(-50%);
}

.info-section {
  margin-bottom: 55px;
}

.last-info-section {
  margin-bottom: 10px !important;
}

.info-section h4 {
  color: #08386c;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 15px;
  line-height: 1.1;
}
.info-section p strong {
  font-weight: 700;
}

.info-section p {
  color: #323232;
  margin-bottom: 8px;
  line-height: 1.4;
}

.info-section a {
  color: inherit;
  text-decoration: none;
}

.info-section a:hover {
  text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
    padding: 0 70px;
  }

  .form-wrapper,
  .offices-box {
    padding: 45px 30px;
  }
}


@media screen and (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 0 20px;
  }

  .contact-form h1{
    font-size: 30px;
  }

  .form-wrapper h2{
    font-size: 24px;
  }

  .info-section h4{
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .contact-section {
    padding: 40px 0;
  }

  .contact-form h1 {
    font-size: 28px;
  }

  .form-wrapper h2 {
    font-size: 20px;
  }
}
