<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <img
        src="/assets/logo/logo.png"
        alt="Girosole Logo"
        class="footer-logo"
      />
      <p class="copyright">Copyright © 1998-2025 GIROSOLE.</p>
      <p class="address">
        All Rights Reserved. 1745 Niagara Street, Denver, CO 80220
      </p>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <ul>
          <li><a href="/about-us/">ABOUT US</a></li>
          <li><a href="/contact-us.html">CONTACT US</a></li>
          <li><a href="/privacy.html">PRIVACY</a></li>
          <li><a href="/booking-conditions.html">TERMS AND CONDITIONS</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <ul>
          <li class="find-a-trip-a">FIND A TRIP</li>
          <li><a href="/find-a-trip.html">ALL TOURS</a></li>
          <li><a href="/guided-walks-italy.html">GUIDED WALKS</a></li>
          <li>
            <a href="/self-guided-walks-italy.html">SELF-GUIDED TOURS</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="footer-right">
            <img
              src="/assets/logo/logo.png"
              alt="Girosole Logo"
              class="footer-small-logo"
            />
          </div> -->
  </div>
</footer>
