<!-- Instagram Section -->
<div class="instagram-section">
  <div class="instagram-header">
    <h2>Instagram <span class="hashtag">#girosole</span></h2>
    <div class="social-links">
      <a href="http:/facebook.com/Girosole" class="social-icon facebook"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="http:/twitter.com/Girosole" class="social-icon twitter"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="http:/pinterest.com/GirosoleItaly" class="social-icon pinterest"
        ><i class="fab fa-pinterest-p"></i
      ></a>
      <a href="http:/instagram.com/Girosole.Italy" class="social-icon instagram"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
