<!-- Navigation Bar -->
<nav class="navbar">
  <a href="/" class="logo">
    <img src="/assets/logo/logo.png" />
  </a>
  <div class="mobile-menu-btn">
    <i class="fas fa-bars menu-open" style="display: block"></i>
    <i class="fas fa-times menu-close" style="display: none"></i>
  </div>
  <div class="nav-links">
    <ul>
      <li class="dropdown desktop-nav">
        <a class="dropdown-toggle"
          >FIND A TRIP
          <div class="arrow"></div
        ></a>
        <div class="dropdown-menu">
          <!-- Desktop Version -->
          <div class="dropdown-content desktop-content">
            <div class="dropdown-column">
              <h3>Guided Walks</h3>
              <ul>
                <li>
                  <a href="/italy-walking-tours/gran-paradiso-guided-trek.html"
                    >Valle d'Aosta's Gran Paradiso</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/piemonte-guided-walk.html"
                    >Piedmont's Langhe District</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/piemonte-cooking-walking-trip.html"
                    >Piedmont Cooking and Walking</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/lake-district-guided-walk.html"
                    >Italian Lakes</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/dolomites-guided-trek.html"
                    >The Dolomites</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/cinque-terre-guided-walk.html"
                    >Cinque Terre</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/tuscany-hilltowns-guided-walk.html"
                    >Tuscany's Hilltowns</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/tuscany-chianti-guided-walk.html"
                    >Tuscany's Chianti</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/tuscany-valdorcia-guided-walk.html"
                    >Tuscany's Val d'Orcia</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/tuscany-cooking-walking-trip.html"
                    >Tuscany Cooking and Walking</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/tuscany-guided-trek.html"
                    >Florence to Siena Trek</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/tuscany-garfagnana-guided-hike.html"
                    >Tuscany's Garfagnana</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/umbria-guided-walk.html"
                    >Umbria</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/le-marche-guided-walk.html"
                    >Le Marche's Monti Azzurri</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/sibillini-guided-hike.html"
                    >Le Marche's Sibillini</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/lazio-ciociaria-guided-walk.html"
                    >Lazio's Ciociaria</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/molise-guided-hike.html"
                    >Molise</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/abruzzo-guided-trek.html"
                    >Abruzzo's Parco Nazionale</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/amalfi-coast-guided-walk.html"
                    >Amalfi Coast</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/amalfi-coast-cooking-walking-trip.html"
                    >Amalfi Coast Cooking and Walking</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/puglia-walk-guided-walk.html"
                    >Puglia and Basilicata</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/calabria-guided-walk.html"
                    >Calabria's Magna Grecia</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/western-sicily-guided-walk.html"
                    >Sicily's Western Seaboard</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/sicily-guided-walk.html"
                    >Sicily's Eastern Seaboard</a
                  >
                </li>
              </ul>
            </div>
            <div class="dropdown-column">
              <h3>Self-guided trips</h3>
              <ul>
                <li>
                  <a href="/italy-walking-tours/piemonte-self-guided-walk.html"
                    >Piemonte Walk</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/lake-district-walk-self-guided.html"
                    >Italian Lakes District Hike</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/veneto-self-guided-walk.html"
                    >Veneto Walk</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/cinque-terre-self-guided-walk.html"
                    >Cinque Terre Hike</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/tuscany-self-guided-walk.html"
                    >Tuscany Walk</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/tuscany-self-guided-hike.html"
                    >Tuscany Hike</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/tuscany-chianti-self-guided-walk.html"
                    >Chianti Walk</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/tuscany-maremma-self-guided-walk.html"
                    >Maremma Hike</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/umbria-self-guided-walk.html"
                    >Umbria Walk</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/umbria-self-guided-hike.html"
                    >Umbria Hike</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/amalfi-coast-self-guided-walk.html"
                    >Amalfi Coast Hike</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/puglia-self-guided-walk.html"
                    >Puglia Walk</a
                  >
                </li>
                <li>
                  <a
                    href="/italy-walking-tours/western-sicily-self-guided-walk.html"
                    >Western Sicily Walk</a
                  >
                </li>
                <li>
                  <a href="/italy-walking-tours/sicily-self-guided-walk.html"
                    >Eastern Sicily Walk</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <!-- Mobile Version -->
      <li class="mobile-nav">
        <a class="item find-a-trip-nav">FIND A TRIP</a>
        <div class="mobile-accordio">
          <div class="accordion-item">
            <h3 class="accordion-header">
              Guided Walks
              <div class="arrow"></div>
            </h3>
            <ul class="accordion-content">
              <li>
                <a href="/italy-walking-tours/gran-paradiso-guided-trek.html"
                  >Valle d'Aosta's Gran Paradiso</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/piemonte-guided-walk.html"
                  >Piedmont's Langhe District</a
                >
              </li>
              <li>
                <a
                  href="/italy-walking-tours/piemonte-cooking-walking-trip.html"
                  >Piedmont Cooking and Walking</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/lake-district-guided-walk.html"
                  >Italian Lakes</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/dolomites-guided-trek.html"
                  >The Dolomites</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/cinque-terre-guided-walk.html"
                  >Cinque Terre</a
                >
              </li>
              <li>
                <a
                  href="/italy-walking-tours/tuscany-hilltowns-guided-walk.html"
                  >Tuscany's Hilltowns</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/tuscany-chianti-guided-walk.html"
                  >Tuscany's Chianti</a
                >
              </li>
              <li>
                <a
                  href="/italy-walking-tours/tuscany-valdorcia-guided-walk.html"
                  >Tuscany's Val d'Orcia</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/tuscany-cooking-walking-trip.html"
                  >Tuscany Cooking and Walking</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/tuscany-guided-trek.html"
                  >Florence to Siena Trek</a
                >
              </li>
              <li>
                <a
                  href="/italy-walking-tours/tuscany-garfagnana-guided-hike.html"
                  >Tuscany's Garfagnana</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/umbria-guided-walk.html"
                  >Umbria</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/le-marche-guided-walk/"
                  >Le Marche's Monti Azzurri</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/sibillini-guided-hike/"
                  >Le Marche's Sibillini</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/lazio-ciociaria-guided-walk/"
                  >Lazio's Ciociaria</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/molise-guided-hike/">Molise</a>
              </li>
              <li>
                <a href="/italy-walking-tours/abruzzo-guided-trek/"
                  >Abruzzo's Parco Nazionale</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/amalfi-coast-guided-walk/"
                  >Amalfi Coast</a
                >
              </li>
              <li>
                <a
                  href="/italy-walking-tours/amalfi-coast-cooking-walking-trip/"
                  >Amalfi Coast Cooking and Walking</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/puglia-walk-guided-walk/"
                  >Puglia and Basilicata</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/calabria-guided-walk/"
                  >Calabria's Magna Grecia</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/western-sicily-guided-walk/"
                  >Sicily's Western Seaboard</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/sicily-guided-walk/"
                  >Sicily's Eastern Seaboard</a
                >
              </li>
            </ul>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header">
              Self-guided trips
              <div class="arrow"></div>
            </h3>
            <ul class="accordion-content">
              <li>
                <a href="/italy-walking-tours/piemonte-self-guided-walk/"
                  >Piemonte Walk</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/lake-district-walk-self-guided/"
                  >Italian Lakes District Hike</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/veneto-self-guided-walk/"
                  >Veneto Walk</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/cinque-terre-self-guided-walk/"
                  >Cinque Terre Hike</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/tuscany-self-guided-walk/"
                  >Tuscany Walk</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/tuscany-self-guided-hike/"
                  >Tuscany Hike</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/tuscany-chianti-self-guided-walk/"
                  >Chianti Walk</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/tuscany-maremma-self-guided-walk/"
                  >Maremma Hike</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/umbria-self-guided-walk/"
                  >Umbria Walk</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/umbria-self-guided-hike/"
                  >Umbria Hike</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/amalfi-coast-self-guided-walk/"
                  >Amalfi Coast Hike</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/puglia-self-guided-walk/"
                  >Puglia Walk</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/western-sicily-self-guided-walk/"
                  >Western Sicily Walk</a
                >
              </li>
              <li>
                <a href="/italy-walking-tours/sicily-self-guided-walk/"
                  >Eastern Sicily Walk</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li><a href="/about-us/">WHY GIROSOLE</a></li>
      <li><a href="/book-a-tour.html">BOOK A TRIP</a></li>
      <li><a href="/italy-travel-info">BLOG</a></li>
      <li><a href="/contact-us.html" class="contact-us">CONTACT US</a></li>
    </ul>
  </div>
  <div class="social-icons">
    <a href="http:/facebook.com/Girosole"><i class="fab fa-facebook-f"></i></a>
    <a href="http:/twitter.com/Girosole"><i class="fab fa-twitter"></i></a>
    <a href="http:/pinterest.com/GirosoleItaly"
      ><i class="fab fa-pinterest-p"></i
    ></a>
    <a href="http:/instagram.com/Girosole.Italy"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>
</nav>
